/* variables */

/* tag colors */

$artistColor: #d9534f;
$characterColor: #5cb85c;
$copyrightColor: #b132b1;
$sourceColor: #9bd6ff;

/* widths */

$boxWidthRel: 90%;

$boxWidthSmall: 48em;
$boxWidthMedium: 63em;
$boxWidthLarge: 78em;

$screenSmall: 'screen and (min-width: 50em)';
$screenMedium: 'screen and (min-width: 65em)';
$screenLarge: 'screen and (min-width: 80em)';
