@import "variables";
@import "mixins";

/* account css */

.account {
    padding: 1em 0;
}

.account_header {
    @include clearfix;

    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0.5em;
    margin-bottom: 1em;
    display: table;
    height: 2em;

    & .user_info {
        overflow: hidden;

        & .user_avatar,
        & .user_name {
            display: table-cell;
            vertical-align: middle;
        }

        & .user_avatar {
            padding: 0;
            border-radius: 3px;
            overflow: hidden;
        }

        & .user_name {
            font-size: 1.5em;
            padding: 0;
            padding-left: 0.5em;
        }

        @media #{$screenSmall} {
            float: left;
            max-width: 60%;
        }
    }

    & .logout {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}

.account_row {
    @include clearfix;

    @include mediaWidths;

    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0;

    & .account_subcontainer {
        @include shadow;

        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 1em;
        text-align: center;

        & .account_title {
            @include boxTitle;

            padding: 0.5em;
        }

        & form {
            padding: 1em;
        }

        @media #{$screenSmall} {
            float: left;

            &.left {
                margin-right: 0.5em;
                width: calc(50% - 0.5em);
            }

            &.right {
                margin-left: 0.5em;
                width: calc(50% - 0.5em);
            }
        }
    }
}
