@import "variables";
@import "mixins";

/* account css */

.account {
    padding: 1em 0;
}

.account_header {
    @include clearfix;

    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0.5em;
    margin-bottom: 1em;
    display: table;

    & .user_info {
        overflow: hidden;

        & .user_avatar,
        & .user_name {
            display: table-cell;
            vertical-align: middle;
        }

        & .user_avatar {
            padding: 0.2em;
            border-radius: 3px;
            overflow: hidden;

            & img {
                width: 24px;
                height: auto;
                vertical-align: middle;
            }

            @media #{$screenSmall} {
                & img {
                    width: 32px;
                    height: auto;
                }
            }
        }

        & .user_name {
            font-size: 1.5em;
            padding: 0;
            padding-left: 0.3em;

            @media #{$screenSmall} {
                font-size: 1.8em;
            }
        }

        @media #{$screenSmall} {
            float: left;
            max-width: 60%;
        }
    }

    & .logout {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        line-height: 1.5em;
    }
}

.account_row {
    @include clearfix;

    @include mediaWidths;

    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0;

    & .account_subcontainer {
        @include shadow;

        border-radius: 6px;
        overflow: hidden;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;

        & .account_title {
            @include boxTitle;

            padding: 0;
        }

        @media #{$screenSmall} {
            float: left;

            &.left {
                margin-right: 0.5em;
                width: calc(50% - 0.5em);
            }

            &.right {
                margin-left: 0.5em;
                width: calc(50% - 0.5em);
            }
        }
    }
}