@import "variables";
@import "mixins";

/* account css */

.account {
    padding: 1em 0;
}

.account_container {
    @include clearfix;

    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;

    & .account_name {
        @include boxTitle;

        padding: 0;
        padding-bottom: 0.5em;

        & img {
            vertical-align: middle;
        }

        @media #{$screenSmall} {
            padding: 0.2em;
            float: left;
            max-width: 50%;
        }
    }

    & .logout {
        text-align: center;

        @media #{$screenSmall} {
            float: right;
        }
    }
}

.account_row {
    @include clearfix;

    @include mediaWidths;

    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0;

    & .account_subcontainer {
        @include shadow;

        border-radius: 6px;
        overflow: hidden;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;

        & .account_title {
            @include boxTitle;

            padding: 0;
        }

        @media #{$screenSmall} {
            float: left;

            &.left {
                margin-right: 0.5em;
                width: calc(50% - 0.5em);
            }

            &.right {
                margin-left: 0.5em;
                width: calc(50% - 0.5em);
            }
        }
    }
}