@import "variables";
@import "mixins";

/* account css */

.account {
    padding: 1em 0;
}

.account_container {
    @include clearfix;

    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;

    & .account_subcontainer {
        margin-bottom: 1em;
        text-align: center;

        @media #{$screenSmall} {
            text-align: left;
            margin: 1em 0.5em;
            float: left;
            width: calc(50% - 1em);
        }
    }

    & .account_title {
        @include boxTitle;

        padding: 0;
    }

    & .account_name {
        @include boxTitle;

        padding: 0;
        padding-bottom: 0.5em;

        & img {
            vertical-align: middle;
        }

        @media #{$screenSmall} {
            padding: 0.2em;
            float: left;
            max-width: 50%;
        }
    }

    & .logout {
        text-align: center;

        @media #{$screenSmall} {
            float: right;
        }
    }
}