/* global css */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "proxima-nova", sans-serif;
    font-size: 1em;
    color: $fontDark;
    min-width: 20em;
    overflow-y: scroll;
}

video {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
}

input[name="file"] {
    font-size: small;
    display: block;
}