/* global css */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

video {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
}

input[name="file"] {
    font-size: small;
    display: block;
}

body {
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    font-size: 1em;
    color: $fontDark;
    min-width: 20em;
    overflow-y: scroll;
}