@import "variables";
@import "mixins";

/* directory and tag list css */

.taglist,
.directory {
    padding: 1em 0;
}

.taglist_container,
.directory_container {
    @include clearfix;

    @include mediaWidths;

    width: $boxWidthRel;
    margin: 0 auto;
}

.directory_container,
.taglist_container {
    & .no_threads {
        padding: 1em;
        text-align: center;
    }
}

.tags_list,
.directory_list {
    @include shadow;

    border-radius: 6px;
    overflow: hidden;

    & table {
        width: 100%;
    }

    & table td,
    & table th {
        padding: 0.3em 0.5em;
    }
}

.tags_list {
    padding: 0;
}

.lastpage {
    border: 1px solid #333;
    float: right;
}

.tags_bar,
.directory_bar {
    @include clearfix;

    text-align: center;
    padding: 0.5em;

    & .tags_input {
        margin-bottom: 0.5em;

        & .form-group {
            margin-bottom: 0.2em;
        }

        @media #{$screenSmall} {
            float: left;
            max-width: 50%;
        }
    }

    & .tags_search,
    & .directory_search {
        @media #{$screenSmall} {
            margin: 0;
            float: right;
            max-width: 50%;
        }
    }
}