@import "variables";
@import "mixins";

/* external image embed */

.external_image {
  max-width: 200px;
  max-height: 150px;
  height: auto;
  border: 1px solid #444;
  margin: 0.2em;
}

/* video embed div */

.auto-resizable-iframe {
  max-width: 420px;
  padding: 0.5em;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
