@import "variables";
@import "mixins";

/* favorites css */

.favorites {
    padding: 1em 0;
}

.favorites_container {
    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;

    & .no_favorites {
        padding: 1em;
        text-align: center;
    }
}

.favorites_title {
    @include boxTitle;
}

.favorites_nav {
    text-align: center;
    padding: 0.5em;
}