@import "variables";
@import "mixins";

/* header css */

.header_bar {
    @include clearfix;

    @include mediaWidths;

    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    & .left {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        order: 2;
    }

    & .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        order: 1;
    }

    @media #{$screenSmall} {
        flex-direction: row;

        & .left {
            order: 1;
            width: auto;
        }

        & .right {
            order: 2;
            width: auto;
            margin-left: auto;
        }
    }
}

/* nav menu */

.nav_menu {
    order: 1;

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;
            border-radius: 3px;

            & a {
                list-style-type: none;
                display: block;
                font-size: 1em;
                padding: 0.5em;
            }
        }

        & ul {
            display: block;
            z-index: 900;
            text-align: left;
            border-radius: 3px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            top: 100%;

            &.ng-enter,
            &.ng-leave {
                transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
            }

            &.ng-enter,
            &.ng-leave.ng-leave-active {
                opacity: 0;
                top: 50px;
            }

            &.ng-leave,
            &.ng-enter.ng-enter-active {
                opacity: 1;
                top: 100%;
            }
        }

        & ul li {
            display: list-item;
            list-style-type: none;
            border-radius: 0;
        }

        & ul li a {
            display: inline-block;
            padding: 0.5em 2em;
            font-size: 1.1em;
        }
    }
}

/* nav items */

.nav_items {
    order: 2;
    margin-left: auto;

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;

            & a {
                list-style-type: none;
                display: block;
                border-radius: 3px;
                font-size: 1em;
                padding: 0.5em;
            }
        }
    }
}

/* logo */

.site_logo {
    order: 2;

    & img {
        display: inline-block;
        max-width: 10em;
        height: auto;
        max-height: 2em;
    }
}

/* user menu */

.user_menu {
    order: 1;
    margin-right: auto;

    @media #{$screenSmall} {
        margin-right: 1em;
    }

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;
        }

        & ul {
            text-align: left;
            border-radius: 3px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            top: 100%;
            display: block;
            z-index: 900;

            &.ng-enter,
            &.ng-leave {
                transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
            }

            &.ng-enter,
            &.ng-leave.ng-leave-active {
                opacity: 0;
                top: 50px;
            }

            &.ng-leave,
            &.ng-enter.ng-enter-active {
                opacity: 1;
                top: 100%;
            }

            @media #{$screenSmall} {
                left: auto;
                right: 0;
            }
        }

        & ul li {
            display: list-item;
            list-style-type: none;
            border-radius: 0;
        }

        & ul i {
            display: inline;
            margin-right: 0.5em;
            font-size: 0.9em;
        }

        & ul li a {
            display: inline-block;
            padding: 0.5em 1em;
            font-size: 1.1em;
        }
    }
}