@import "variables";
@import "mixins";

/* header css */

.header_bar {
    @include clearfix;

    @include mediaWidths;

    width: $boxWidthRel;
    margin: 0 auto;
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* nav menu */

.nav_menu {
    order: 1;
    flex: 0 0 50%;

    @media #{$screenSmall} {
        flex: 0 0 auto;
    }

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;

            & a {
                list-style-type: none;
                display: block;
                border-radius: 3px 3px 0px 0px;
                font-size: 1em;
                padding: 0.5em;
            }
        }

        & li:hover > ul {
            display: block;
        }

        & ul {
            display: none;
            z-index: 900;
        }

        & ul {
            text-align: left;
            border-radius: 0 3px 3px 3px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            top: 100%;
        }

        & ul li {
            display: list-item;
            list-style-type: none;
            border-radius: 0;
        }

        & ul li a {
            display: inline-block;
            padding: 0.5em 2em;
            font-size: 1.1em;
        }
    }
}

/* nav items */

.nav_items {
    order: 3;
    flex: 2 1 auto;

    @media #{$screenSmall} {
        order: 2;
    }

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;

            & a {
                list-style-type: none;
                display: block;
                border-radius: 3px;
                font-size: 1em;
                padding: 0.5em;
            }
        }
    }
}

/* user menu */

.user_menu {
    order: 4;
    flex: 0 0 auto;

    @media #{$screenSmall} {
        order: 3;
        margin-right: 0.5em;
    }

    & ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            list-style-type: none;
            display: inline-block;
        }

        & li:hover > ul {
            display: block;
        }

        & ul {
            display: none;
            z-index: 900;
        }

        & ul {
            text-align: left;
            border-radius: 3px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            top: 100%;
            right: 0;
        }

        & ul li {
            display: list-item;
            list-style-type: none;
            border-radius: 0;
        }

        & ul i {
            display: inline;
            margin-right: 0.5em;
            font-size: 0.9em;
        }

        & ul li a {
            display: inline-block;
            padding: 0.5em 1em;
            font-size: 1.1em;
        }
    }
}

/* logo */

.site_logo {
    order: 2;
    flex: 0 0 50%;
    text-align: right;

    @media #{$screenSmall} {
        order: 4;
        flex: 0 0 auto;
    }

    & img {
        display: inline-block;
        max-width: 10em;
        height: auto;
    }
}