@import "mixins";

/* hoverbox */

.angular-hovercard {
    display: inline-block;
    margin-bottom: 5px;
}

.angular-hovercard-detail {
    @include shadow;

    position: absolute;
    border-radius: 3px;
    min-width: 20%;
    max-width: 80%;
    z-index: 99;
    overflow: hidden;

    @media #{$screenSmall} {
        min-width: 20%;
        max-width: 40%;
    }
}

.angular-hovercard-detail.ng-leave {
    visibility: hidden;
}

.angular-hovercard-label {
    padding: 1px;
    position: relative;
}

.quotebox {
    background: #eee;
    text-align: center;
    padding: 0.5em;
}

.quotebox_error {
    background: $artistColor;
    text-align: center;
    padding: 0.5em;
}

.quotebox_image {
    max-width: 120px;
    height: auto;
}