@import "variables";

/* label css */

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.label {
    display: inline;
    padding: .1em .5em;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    margin: 0;
}

a.label:hover,
a.label:focus {
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}