/* logo */

.site_logo {
    width: 100%;
    text-align: center;
    order: 1;

    @media #{$screenSmall} {
        width: auto;
        text-align: right;
        order: 2;
    }
}

.site_logo img {
    max-width: 10em;
    height: auto;
}