/* scroll to top button css */

.scrollToTop {
    transition: opacity 0.5s;
    position: fixed;
    top: 3px;
    right: 3px;
    width: 45px;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;

    &.toTopActive {
        opacity: 0.5;
        visibility: visible;
    }
}