@import "variables";
@import "mixins";

/* settings box css */

.settings_container {
    @include clearfix;

    @include shadow;

    @include mediaWidths;

    width: $boxWidthRel;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media #{$screenSmall} {
        flex-direction: row;
    }
}

.settings_menu {
    order: 1;
    height: auto;
    text-align: center;
    padding: 1em;

    & .button-settings {
        width: 100%;
        margin-bottom: 0.3em;
    }

    @media #{$screenSmall} {
        padding: 0.5em;
        width: 20%;
    }
}

.settings_box {
    order: 2;
    height: auto;
    padding: 0.5em;

    @media #{$screenSmall} {
        width: 80%;
    }
}

.settings_subcontainer {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    border-radius: 3px;

    & form {
        margin: auto;

        @media #{$screenSmall} {
            max-width: 30em;
        }
    }

    & .settings_title {
        @include boxTitle;

        padding: 0;
    }

    @media #{$screenSmall} {
        width: 80%;
    }
}