@import "variables";
@import "mixins";

/* tag page css */

.tagpage {
    padding: 1em 0;
}

.tagpage_container {
    @include mediaWidths;

    @include shadow;

    border-radius: 6px;
    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;

    & .no_tags {
        padding: 1em;
        text-align: center;
    }
}

.tagpage_title {
    @include boxTitle;
}

.tagpage_nav {
    text-align: center;
    padding: 0.5em;
}