@import "variables";
@import "mixins";

/* thread css */

.threads {
    padding-top: 4em;
    padding-bottom: 5em;
}

.thread {
    @include mediaWidths;
    @include shadow;
    border-radius: 6px;
    overflow: hidden;
    width: $boxWidthRel;
    margin: 0 auto;
    margin-bottom: 2em;
}


/* thread header */

.thread_header {
    @include clearfix;
    padding: 1em;
    & .thread_mod_buttons {
        display: inline-block;
        padding-right: 0.5em;
    }
}

.thread_index_header {
    @include clearfix;
    padding: 1em 1em 0 1em;
}

.thread_title {
    @include boxTitle;
    padding: 0.5em;
    @media #{$screenSmall} {
        padding: 0.2em;
        float: left;
        max-width: 50%;
    }
}

.thread_buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    @media #{$screenSmall} {
        float: right;
    }
}

.thread_info {
    display: inline-block;
    border-radius: 4px;
    padding: 0.4em 0.6em;
    margin-right: 0.3em;
    & .col {
        display: inline-block;
        padding: 0 0.1em;
    }
}


/* thread rows */

.thread_row {
    @include clearfix;
}

.thread_row_header {
    @include clearfix;
}

.thread_row_image,
.index_row_image {
    text-align: center;
    padding: 1em 1em 0em 1em;
    @media #{$screenSmall} {
        padding: 1em;
        float: left;
        width: 25%;
    }
}

.thread_row_image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #444;
}

.index_row_image img {
    max-width: 150px;
    height: auto;
    border: 1px solid #444;
}

.thread_row_image img:hover {
    opacity: 0.6;
}

.thread_row_info {
    padding: 1em 1em 0em 1em;
    text-align: center;
    @media #{$screenSmall} {
        text-align: left;
        float: left;
        width: 75%;
    }
    & .post_mod_buttons {
        display: inline-block;
        padding-left: 0.5em;
        @media #{$screenSmall} {
            float: right;
            padding: 0;
        }
    }
}

.thread_row_post {
    padding: 0 1em 1em 1em;
    text-align: left;
    @media #{$screenSmall} {
        padding: 0.5em 1em;
        float: left;
        width: 75%;
    }
    & p {
        word-wrap: break-word;
        hyphens: auto;
        text-align: left;
        white-space: pre-line;
        margin: 0;
    }
}

.thread_row_omit {
    text-align: center;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.thread_row_noimage {
    width: 100%;
}

.post_quote {
    margin-right: 1px;
}

.post_info {
    vertical-align: middle;
}
