/* variables */

/* tag colors */

$artistColor: #d9534f;
$characterColor: #5cb85c;
$copyrightColor: #B132B1;
$sourceColor: #9BD6FF;

/* widths */

$boxWidthRel: 90%;

$boxWidthSmall: 48em;
$boxWidthMedium: 63em;
$boxWidthLarge: 78em;

$screenSmall: "screen and (min-width: 50em)";
$screenMedium: "screen and (min-width: 65em)";
$screenLarge: "screen and (min-width: 80em)";
