/* variables */

/* font colors */

$linkColor: #373D73;

$fontLight: #eee;
$fontDark: #333;

/* widths */

$boxWidthRel: 90%;

$boxWidthSmall: 48em;
$boxWidthMedium: 63em;
$boxWidthLarge: 78em;

$screenSmall: "screen and (min-width: 50em)";
$screenMedium: "screen and (min-width: 65em)";
$screenLarge: "screen and (min-width: 80em)";