@import "mixins";

/* colors */

$elementDark: #2d3538;
$primaryColor: #867092;
$scanLineWidth: 1px;

$trendingNew: #00bc6f;
$trendingPopular: #00a0df;
$favoritesColor: #ff5859;

/* global */

a {
    color: darken($primaryColor, 20%);
    text-decoration: none;
}

a:hover,
a:focus {
    color: lighten($primaryColor, 20%);
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF8Ov0+Pf8stQ8zQAAABxJREFUGNNjYGBgqP///wDDUKf////fAOIMcRoAC2SoK0LPuyIAAAAASUVORK5CYII=);
}

/* containers */

.header,
.error_container,
.account_container,
.postbox,
.footer {
    background: $elementDark;
}

/* image grid */

.image_grid {
    background-color: lighten($primaryColor, 30%);
}

/* header */

.header_navigation li.n1:hover,
.header_navigation ul ul,
.thread_header,
.thread_index_header,
.thread_row_header,
.footer_links li a:hover {
    background: $primaryColor;
}

.header_navigation ul ul li:hover {
    background: darken($primaryColor, 10%);
}

/* threads */

.thread_row:nth-of-type(even) {
    background-color: lighten($primaryColor, 30%);
}

.thread_row:nth-of-type(odd) {
    background-color: lighten($primaryColor, 40%);
}

/* postbox */

.postbox_box {
    background: #eee;

    @media #{$screenSmall} {
        background-image: url("/images/mascot.png");
        background-size: auto 98%;
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}

/* image page */

.image_info,
.image_box_nav {
    background-color: $elementDark;
}

.image_box_image {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAKCAQAAABcH8X6AAAAHElEQVQ4y2M0OMlAc8DI8J8Oloz6ZNQnoz4hCABeaQnjKb8q7QAAAABJRU5ErkJggg==");
}

/* directory and tag lists */

.tags_list,
.directory_list {
    background-color: $elementDark;

    & table {
        background-color: lighten($primaryColor, 30%);
    }

    & table th {
        background-color: darken($primaryColor, 10%);
    }

    & table th a {
        color: #eee;
    }

    & table tr:nth-of-type(even) {
        background-color: lighten($primaryColor, 30%);
    }

    & table tr:nth-of-type(odd) {
        background-color: lighten($primaryColor, 40%);
    }

    & table tr:hover {
        background-color: lighten($primaryColor, 10%);
    }
}

.tags_list {
    & .row-artist,
    & .row-copyright,
    & .row-character {
        color: #ddd;
    }

    & .row-artist a,
    & .row-copyright a,
    & .row-character a {
        color: #ddd;
    }

    & .row-artist a:hover,
    & .row-copyright a:hover,
    & .row-character a:hover {
        color: #555;
    }

    & .row-artist {
        background-color: $artistColor !important;

        &:hover {
            background-color: darken($artistColor, 10%) !important;
        }
    }

    & .row-copyright {
        background-color: $copyrightColor !important;

        &:hover {
            background-color: darken($copyrightColor, 10%) !important;
        }
    }

    & .row-character {
        background-color: $characterColor !important;

        &:hover {
            background-color: darken($characterColor, 10%) !important;
        }
    }
}

/* tagpage */

.tagpage_container {
    background-color: $elementDark;

    & .no_tags {
        background-color: lighten($elementDark, 10%);
    }

    & .tagpage-tag {
        background-color: $primaryColor;
    }

    & .tagpage-artist {
        background-color: $artistColor;
    }

    & .tagpage-copyright {
        background-color: $copyrightColor;
    }

    & .tagpage-character {
        background-color: $characterColor;
    }
}

/* tagpage */

.favorites_container {
    background-color: $elementDark;

    & .no_favorites {
        background-color: lighten($elementDark, 10%);
    }

    & .favorites_title {
        background-color: $favoritesColor;
    }

    & .image_grid {
        background-color: lighten($favoritesColor, 20%);
    }
}

/* trending */

.new_title {
    background-color: $trendingNew;
}

.popular_title {
    background-color: $trendingPopular;
}

.new_container {
    & .image_grid {
        background-color: lighten($trendingNew, 20%);
    }
}

.popular_container {
    & .image_grid {
        background-color: lighten($trendingPopular, 20%);
    }
}

/* logo */

.site_logo {
    width: 100%;
    text-align: center;
    order: 1;

    @media #{$screenSmall} {
        text-align: right;
        order: 2;
    }
}

.site_logo img {
    max-width: 10em;
    height: auto;
}

/* components */

.label-dark {
    border: 1px solid #333;
    color: #444;
}

.label-light {
    border: 1px solid #aaa;
}

.label-default {
    background-color: #eee;

    &:hover,
    &:focus {
        color: $primaryColor;
    }
}

.button-default {
    background-color: #eee;

    &:hover,
    &:focus,
    &.focus {
        background-color: #ddd;
    }
}

.button-primary {
    background-color: darken($primaryColor, 10%);

    &:hover,
    &:focus,
    &.focus {
        background-color: $primaryColor;
    }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: $primaryColor;
}

.pagination > li > a.favorited {
    color: #ff5859;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: lighten($primaryColor, 10%);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $primaryColor;
}