/* prim base style */

@import "variables";
@import "mixins";
@import "normalize";
@import "buttons";
@import "tags";
@import "labels";
@import "pagination";
@import "form";
@import "dropdown";
@import "hoverbox";
@import "header";
@import "footer";
@import "postbox";
@import "image";
@import "imagegrid";
@import "thread";
@import "directory";
@import "error";
@import "tag";
@import "trending";
@import "account";
@import "favorites";
@import "scrolltotop";
@import "logo";
@import "body";