<div class="directory">
    <div class="directory_container">
        <div class="directory_list">
            <div class="directory_bar">
                <div class="directory_search">
                    <form role="form" class="form-inline">
                        <input type="text" class="form-control" ng-model="directory.searchterm" ng-model-options="{ debounce: 500 }" ng-required="true" ng-change="directory.searchThreads()" ng-minlength="3" ng-maxlength="128" placeholder="Search">
                    </form>
                </div>
            </div>
            <div ng-if="!directory.data.length" class="no_threads">
                <span>No threads <i class="fa fa-frown-o"></i></span>
            </div>
            <table ng-if="directory.data.length">
                <thead>
                    <tr>
                        <th style="text-align:left;"><a href="" ng-click="directory.changeSorting('title')">Title</a></th>
                        <th style="text-align:center;"><a href="" ng-click="directory.changeSorting('postcount')"><i class="fa fa-fw fa-comment-o" title="Posts"></i></a></th>
                        <th style="text-align:center;"><a href="" ng-click="directory.changeSorting('images')"><i class="fa fa-fw fa-picture-o" title="Images"></i></a></th>
                        <th style="text-align:center;"><a href="" ng-click="directory.changeSorting('last_post')">Last Post</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="thread in directory.data | orderBy:directory.sort.column:directory.sort.desc track by thread.id">
                        <td style="width:auto;text-align:left;">
                            <i ng-if="thread.closed" title="Closed" class="fa fa-lock"></i>
                            <i ng-if="thread.sticky" title="Sticky" class="fa fa-thumb-tack"></i>
                            <a ng-href="thread/{{thread.id}}/1" rel="nofollow" href ng-bind="thread.title"></a>
                            <span class="label label-alert" ng-if="directory.getLastActive(thread.last_post)">NEW</span>
                            <a ng-if="thread.pages > 1" ng-href="thread/{{thread.id}}/{{thread.pages}}" title="Last page" class="label lastpage" href>last page</a>
                        </td>
                        <td style="width:3em;text-align:center;" align="center" ng-bind="thread.postcount"></td>
                        <td style="width:3em;text-align:center;" align="center" ng-bind="thread.images"></td>
                        <td style="width:20%;text-align:center;" align="center" ng-bind="thread.last_post | date:'short'"></td>
                    </tr>
                </tbody>
            </table>
            <div class="directory_bar">
                <uib-pagination boundary-links="true" rotate="true" direction-links="false" ng-model="directory.currentPage" total-items="directory.pagination.totalItems" max-size="directory.pagination.maxSize" items-per-page="directory.pagination.itemsPerPage" num-pages="directory.pagination.numPages"></uib-pagination>
            </div>
        </div>
    </div>
</div>
