<div class="error">
    <div class="error_container">
        <div class="error_code">
            <span>Error</span>
            <span ng-bind="::errorcode"></span>
        </div>
        <div class="error_message" ng-switch="errorcode">
            <span ng-switch-when="404">Couldn't find whatever you were looking for!</span>
            <span ng-switch-when="502">Oh no the API server is probably down!</span>
            <span ng-switch-default>Looks like something went wrong!</span>
        </div>
    </div>
</div>
