<div class="header_bar">
    <div class="left">
        <div class="nav_menu" ng-controller="NavMenuCtrl as navmenu">
            <ul click-off="navmenu.close" ng-click="navmenu.toggle()" ng-mouseenter="navmenu.open()" ng-mouseleave="navmenu.close()">
                <li class="n1"><a href><i class="fa fa-fw fa-bars"></i></a>
                    <ul ng-if="navmenu.visible">
                        <ng-include src="'includes/site.html'"></ng-include>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav_items">
            <ul>
                <ng-include src="'pages/menus/nav.html'"></ng-include>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="user_menu">
            <div ng-if="!authState.isAuthenticated" class="login">
                <a href="account" class="button button-small button-login">login</a>
            </div>
            <div ng-if="authState.isAuthenticated" ng-controller="UserMenuCtrl as usermenu">
                <ul click-off="usermenu.close" ng-click="usermenu.toggle()" ng-mouseenter="usermenu.open()" ng-mouseleave="usermenu.close()">
                    <li>
                        <div class="avatar avatar-medium">
                            <div class="avatar-inner">
                                <a href>
                                    <img ng-src="{{authState.avatar}}" />
                                </a>
                            </div>
                        </div>
                        <ul ng-if="usermenu.visible">
                            <ng-include src="'pages/menus/user.html'"></ng-include>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site_logo">
            <ng-include src="'includes/logo.html'"></ng-include>
        </div>
    </div>
</div>
