<div class="container image_box">
    <div class="sixteen columns image_box_top">
        <ul class="pagination">
            <li ng-if="image.data.image.prev">
                <a class="fa fa-arrow-left" ng-href="image/{{::image.data.image.prev}}" href></a>
            </li>
            <li ng-if="authState.isAuthenticated">
                <a ng-class="image.starred ? 'fa fa-heart' : 'fa fa-heart-o'" ng-click="image.addFavorite()" href></a>
            </li>
            <li>
                <a class="fa fa-list" ng-href="thread/{{::image.data.image.thread}}/1" href></a>
            </li>
            <li ng-if="image.data.image.next">
                <a class="fa fa-arrow-right" ng-href="image/{{::image.data.image.next}}" href></a>
            </li>
        </ul>
    </div>
    <div class="sixteen columns image_box_middle" ng-if="image.ext == 'webm'">
        <video ng-src="{{::image.src}}" height="{{::image.data.image.height}}" width="{{::image.data.image.width}}" autoplay loop controls>
        </video>
    </div>
    <div class="sixteen columns image_box_middle" ng-if="image.ext != 'webm'">
        <a target="_self" ng-href="{{::image.src}}" href>
            <img class="scale-with-grid" ng-src="{{::image.src}}" height="{{::image.data.image.height}}" width="{{::image.data.image.width}}">
        </a>
    </div>
    <div class="sixteen columns image_box_bottom">
        <ul class="pagination">
            <li ng-if="image.data.image.prev">
                <a class="fa fa-arrow-left" ng-href="image/{{::image.data.image.prev}}" href></a>
            </li>
            <li ng-if="authState.isAuthenticated">
                <a ng-class="image.starred ? 'fa fa-heart' : 'fa fa-heart-o'" ng-click="image.addFavorite()" href></a>
            </li>
            <li>
                <a class="fa fa-list" ng-href="thread/{{::image.data.image.thread}}/1" href></a>
            </li>
            <li ng-if="image.data.image.next">
                <a class="fa fa-arrow-right" ng-href="image/{{::image.data.image.next}}" href></a>
            </li>
        </ul>
    </div>
</div>
<div class="container image_info">
    <div class="sixteen columns image_box_top">
        <div class="eight columns alpha tag_input">
            <form ng-submit="image.addTag()">
                <div class="input-group">
                    <input ng-required="true" type="text" class="form-control" typeahead-wait-ms="300" typeahead-min-length="3" typeahead="tag.id as tag.tag for tag in image.searchTags($viewValue)" typeahead-input-formatter="image.formatLabel($model)" ng-model="image.selected" typeahead-editable="false" placeholder="Add Tag">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="eight columns omega source_links">
            <a type="button" class="btn btn-default" target="_blank" ng-href="http://saucenao.com/search.php?url=http:{{::image.src}}" href>SauceNao</a>
            <a type="button" class="btn btn-default" target="_blank" ng-href="http://google.com/searchbyimage?image_url=http:{{::image.src}}" href>Google</a>
            <a type="button" class="btn btn-default" target="_blank" ng-href="http://iqdb.org/?url=http:{{::image.src}}" href>iqdb</a>
        </div>
    </div>
    <div class="sixteen columns image_box_bottom">
        <div ng-if="image.tags" class="image_tags">
            <span ng-repeat="tag in image.tags track by tag.id">
                <span ng-switch="tag.type">
                    <a class="btn btn-default" ng-switch-when="1" ng-href="tag/{{::tag.id}}/1" rel="nofollow" href ng-bind="::tag.tag"></a>
                    <a class="btn btn-success" ng-switch-when="3" style="color:#fff;" ng-href="tag/{{::tag.id}}/1" rel="nofollow" href ng-bind="::tag.tag"></a>
                    <a class="btn btn-danger" ng-switch-when="2" style="color:#fff;" ng-href="tag/{{::tag.id}}/1" rel="nofollow" href ng-bind="::tag.tag"></a>
                    <a class="btn btn-copyright" ng-switch-when="4" style="color:#ddd;" ng-href="tag/{{::tag.id}}/1" rel="nofollow" href ng-bind="::tag.tag"></a>
                </span>
            </span>
        </div>
    </div>
</div>
