<div class="image">
    <div class="image_container">
        <div class="image_box">
            <div class="image_box_nav">
                <div class="image_controls">
                    <ul class="pagination">
                        <li ng-if="image.data.image.prev">
                            <a class="fa fa-arrow-left" ng-href="image/{{::image.data.image.prev}}" href></a>
                        </li>
                        <li ng-if="authState.isAuthenticated">
                            <a ng-class="image.starred ? 'fa fa-heart favorited' : 'fa fa-heart-o'" ng-click="image.addFavorite()" href></a>
                        </li>
                        <li>
                            <a class="fa fa-list" ng-href="thread/{{::image.data.image.thread}}/1" href></a>
                        </li>
                        <li ng-if="image.data.image.next">
                            <a class="fa fa-arrow-right" ng-href="image/{{::image.data.image.next}}" href></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="image_box_image">
                <video ng-if="image.ext == 'webm'" ng-src="{{::image.src}}" height="{{::image.data.image.height}}" width="{{::image.data.image.width}}" autoplay loop controls></video>
                <a ng-if="image.ext != 'webm'" target="_self" ng-href="{{::image.src}}" href><img ng-src="{{image.getImgSrc(image.data.image.filename)}}" height="{{::image.data.image.height}}" width="{{::image.data.image.width}}"></a>
            </div>
            <div class="image_box_nav">
                <div class="image_controls">
                    <ul class="pagination">
                        <li ng-if="image.data.image.prev">
                            <a class="fa fa-arrow-left" ng-href="image/{{::image.data.image.prev}}" href></a>
                        </li>
                        <li ng-if="authState.isAuthenticated">
                            <a ng-class="image.starred ? 'fa fa-heart favorited' : 'fa fa-heart-o'" ng-click="image.addFavorite()" href></a>
                        </li>
                        <li>
                            <a class="fa fa-list" ng-href="thread/{{::image.data.image.thread}}/1" href></a>
                        </li>
                        <li ng-if="image.data.image.next">
                            <a class="fa fa-arrow-right" ng-href="image/{{::image.data.image.next}}" href></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image_info">
            <div class="source_links">
                <ng-include src="'pages/sourcehandlers.html'"></ng-include>
            </div>
            <div class="tag_input">
                <form ng-submit="image.addTag()">
                    <input ng-required="true" type="text" class="form-control" typeahead-wait-ms="300" typeahead-min-length="3" typeahead="tag.id as tag.tag for tag in image.searchTags($viewValue)" typeahead-input-formatter="image.formatLabel($model)" ng-model="image.selected" typeahead-editable="false" placeholder="Add Tag">
                    <button class="button button-block button-primary" type="submit">Add</button>
                </form>
            </div>
            <div ng-if="!image.tags" class="no_tags">
                No tags <i class="fa fa-frown-o"></i>
            </div>
            <div ng-if="image.tags">
                <div class="tags" ng-repeat="tag in image.tags track by tag.id">
                    <i ng-if="image.showModControls()" class="delete_button fa fa-times" title="Delete Tag" ng-click="image.deleteTag(image.data.image.id, tag.id)"></i>
                    <a class="tag" ng-class="{'tag-default': tag.type == 1, 'tag-artist': tag.type == 2, 'tag-character': tag.type == 3, 'tag-copyright': tag.type == 4}" ng-bind="::tag.tag" rel="nofollow" ng-href="tag/{{::tag.id}}/1" href> </a>
                </div>
            </div>
        </div>
    </div>
</div>
