<div class="container">
    <div class="sixteen columns top">
        <div class="eleven columns alpha">
            &nbsp;
        </div>
        <div class="five columns omega postform">
            <form role="form" action="{{index.getFormAction('/post/thread/new')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ib" ng-value="index.ib_id" />
                <input type="hidden" name="askey" ng-value="index.as_key" />
                <div class="form-group">
                    <input type="text" id="name" name="name" ng-model="index.authState.name" class="form-control" ng-maxlength="20" placeholder="Anonymous">
                </div>
                <div class="form-group">
                    <input type="text" id="title" ng-required="true" name="title" class="form-control" ng-maxlength="40" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea id="comment" name="comment" ng-required="true" class="form-control" rows="3" ng-maxlength="1000" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                    <input id="file" type="file" name="file">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-repeat="thread in index.data track by thread.id" id="thread-{{::thread.id}}" class="container thread">
    <div ng-class="{'header_single': thread.posts.length == 1}" class="sixteen columns header_body">
        <div class="fourteen columns alpha thread_title">
            <span ng-bind="::thread.title"></span>
            <i ng-if="thread.closed" title="Closed" class="fa fa-lock"></i>
            <i ng-if="thread.sticky" title="Sticky" class="fa fa-thumb-tack"></i>
        </div>
        <div class="two columns omega reply_button"> <a class="btn btn-default" ng-href="thread/{{::thread.id}}/{{::thread.last_page}}" href>Reply</a>
        </div>
        <div class="five columns alpha reply_image" ng-if="thread.posts[0].thumbnail != null">
            <a ng-href="image/{{::thread.posts[0].img_id}}" href>
                <img class="reply_image scale-with-grid" ng-src="{{::index.thumb(thread.posts[0].thumbnail)}}" height="{{::thread.posts[0].tn_height}}" width="{{::thread.posts[0].tn_width}}"> </a>
        </div>
        <div class="eleven columns omega">
            <span class="postername" ng-bind="::thread.posts[0].name"></span>
            <span ng-bind="::thread.posts[0].time"></span>
            <span>#<a ng-bind="::thread.posts[0].num" ng-click="index.replyQuote(thread.posts[0].num,thread.id,thread.last_page)" href></a></span>
        </div>
        <div class="eleven columns omega thread_reply">
            <p ng-bind-html="::thread.posts[0].comment | linky:'_blank'"></p>
        </div>
        <div class="sixteen columns alpha omittedposts" ng-if="thread.omit_posts != 0">
            {{ ::thread.omit_posts }} posts omitted. Click <a ng-href="thread/{{::thread.id}}/{{::thread.last_page}}" href>Reply</a> to view.
        </div>
    </div>
    <div ng-repeat="post in thread.posts track by post.id" ng-if="!$first" class="sixteen columns clearfix reply_body">
        <div class="five columns alpha reply_image" ng-if="!!post.thumbnail">
            <a ng-href="image/{{::post.img_id}}" href><img class="reply_image scale-with-grid" ng-src="{{::index.thumb(post.thumbnail)}}" height="{{::post.tn_height}}" width="{{::post.tn_width}}"> </a>
        </div>
        <div ng-class="!!post.thumbnail ? 'eleven columns omega' : 'sixteen columns alpha'" class="comment_body">
            <span class="postername" ng-bind="::post.name"></span>
            <span ng-bind="::post.time"></span>
            <span>#<a ng-bind="::post.num" ng-click="index.replyQuote(post.num,thread.id,thread.last_page)" href></a></span>
        </div>
        <div ng-if="post.comment" comment-handler post="post" thread="thread.id"></div>
    </div>
</div>
<div class="container">
    <div class="sixteen columns footer">
        <pagination boundary-links="true" rotate="true" direction-links="false" page-name="page" total-items="index.pagination.totalItems" max-size="index.pagination.maxSize" ng-model="index.pagination.currentPage" items-per-page="index.pagination.itemsPerPage" num-pages="index.pagination.numPages">
    </div>
</div>
