<div class="postbox" ng-controller="IndexFormCtrl as postform">
    <div class="postbox_box">
        <div class="postbox_form">
            <form role="form" name="newthreadform" action="{{postform.getFormAction('/post/thread/new')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ib" ng-value="index.ib_id" />
                <input type="hidden" name="askey" ng-value="index.as_key" />
                <input ng-if="authState.isAuthenticated" type="hidden" name="access_token" ng-value="postform.token" />
                <div class="form-group">
                    <div class="form-control userinfo">
                        <span ng-bind="authState.name" ng-class="index.usergroupClass(authState.ibdata.group)"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="title" ng-required="true" name="title" class="form-control" ng-minlength="3" ng-maxlength="40" placeholder="Title" ng-model="postform.form.title">
                </div>
                <div class="form-group">
                    <textarea id="comment" name="comment" ng-required="true" class="form-control" rows="3" ng-minlength="3" ng-maxlength="1000" placeholder="Comment" ng-model="postform.form.comment"></textarea>
                </div>
                <div class="form-group">
                    <input id="file" type="file" name="file" ng-model="file" validate-file ng-required="true">
                </div>
                <div class="form-group">
                    <button ng-disabled="newthreadform.$invalid" class="button button-block button-primary" type="submit" value="Submit">New Thread</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="threads">
    <div ng-repeat="thread in ::index.data track by thread.id" id="thread-{{thread.id}}" class="thread">
        <div class="thread_index_header">
            <div class="thread_title">
                <a ng-href="thread/{{thread.id}}/1" ng-bind="thread.title" href></a>
            </div>
            <div class="thread_buttons">
                <div ng-if="thread.closed" title="Closed" class="thread_info">
                    <i class="fa fa-lock"></i>
                </div>
                <div ng-if="thread.sticky" title="Sticky" class="thread_info">
                    <i class="fa fa-thumb-tack"></i>
                </div>
                <div class="thread_info">
                    <div class="col">
                        <i class="fa fa-fw fa-comment-o" title="Posts"></i><span ng-bind="thread.total"></span>
                    </div>
                    <div class="col">
                        <i class="fa fa-fw fa-picture-o" title="Images"></i><span ng-bind="thread.images"></span>
                    </div>
                    <div class="col">
                        <i class="fa fa-fw fa-file-o" title="Pages"></i><span ng-bind="thread.pages"></span>
                    </div>
                </div>
                <a class="button button-thread" ng-href="thread/{{thread.id}}/{{thread.pages}}" href>Reply</a>
            </div>
        </div>
        <div class="thread_row_header">
            <div class="thread_row_omit" ng-if="thread.total - thread.posts.length >= 1">
                <a ng-href="thread/{{thread.id}}/{{thread.pages}}" href>
                    <ng-pluralize count="{{ thread.total - thread.posts.length | number:0 }}" when="{'1': '1 post omitted...', 'other': '{} posts omitted...'}"></ng-pluralize>
                </a>
            </div>
        </div>
        <div ng-repeat="post in ::thread.posts track by post.id" class="index_row">
            <div class="index_row_image" ng-if="!!post.thumbnail">
                <a ng-href="image/{{post.img_id}}" href>
                    <img ng-src="{{post.thumbnail}}" height="{{post.tn_height}}" width="{{post.tn_width}}">
                </a>
            </div>
            <div class="thread_content" ng-class="{ 'noimage': !post.thumbnail }">
                <div class="thread_row_info">
                    <div class="items">
                        <div ng-if="post.group != 1" class="info_item">
                            <div class="avatar avatar-xsmall">
                                <div class="avatar-inner">
                                    <img ng-src="{{post.avatar}}" />
                                </div>
                            </div>
                        </div>
                        <div class="info_item">
                            <span ng-class="index.usergroupClass(post.group)" ng-bind="post.name"></span>
                        </div>
                        <div class="info_item">
                            <span ng-bind="post.time"></span>
                        </div>
                        <div class="info_item">
                            <a class="label label-light" ng-bind="'#'+{{post.num}}" ng-click="index.replyQuote(post.num,thread.id,thread.pages)" href></a>
                        </div>
                    </div>
                </div>
                <comment-handler post="post" thread="thread.id"></comment-handler>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_box">
        <pagination boundary-links="true" rotate="true" direction-links="false" page-name="page" total-items="index.pagination.totalItems" max-size="index.pagination.maxSize" ng-model="index.pagination.currentPage" items-per-page="index.pagination.itemsPerPage" num-pages="index.pagination.numPages">
    </div>
</div>
