<div class="container">
    <div class="sixteen columns image_bar">
        <div class="btn-group">
            <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="tag/{{::tag.id}}" total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" num-pages="numPages">
        </div>
    </div>
</div>
<div class="container thread">
    <div class="sixteen columns clearfix tag_header_body">
        <div class="fourteen columns alpha thread_title">
            <span ng-switch="tag.type">
<span ng-switch-when="1" ng-bind="'Tag: ' + tag.tag"></span>
            <span ng-switch-when="2" ng-bind="'Artist: ' + tag.tag"></span>
            <span ng-switch-when="3" ng-bind="'Character: ' + tag.tag"></span>
            <span ng-switch-when="4" ng-bind="'Copyright: ' + tag.tag"></span>
            </span>
        </div>
    </div>
    <div ng-if="totalItems != 0" class="sixteen columns clearfix tagpage" id="photos">
        <a ng-repeat="image in tag.images track by image.id" ng-href="image/{{::image.id}}" href>
            <img class="reply_image scale-with-grid" ng-src="/thumb/{{::image.thumbnail}}" height="{{::image.tn_height}}" width="{{::image.tn_width}}">
        </a>
    </div>
    <div ng-if="totalItems == 0" style="text-align:center;" class="sixteen columns clearfix reply_body">
        No items
    </div>
</div>
<div class="container">
    <div class="sixteen columns footer">
        <div class="btn-group">
            <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="tag/{{::tag.id}}" total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" num-pages="numPages">
        </div>
    </div>
</div>
