<div class="taglist">
    <div class="taglist_container">
        <div class="tags_list">
            <div class="tags_bar">
                <ng-include src="'pages/forms/tags.html'"></ng-include>
            </div>
            <div ng-if="tags.notags" class="no_tags">
                <span>No tags <i class="fa fa-frown-o"></i></span>
            </div>
            <table ng-if="!tags.notags">
                <thead>
                    <tr>
                        <th width="6%"><a href="" ng-click="tags.changeSorting('type')">Type</a></th>
                        <th align="left"><a href="" ng-click="tags.changeSorting('tag')">Tag</a></th>
                        <th width="10%"><a href="" ng-click="tags.changeSorting('total')">Total</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tag in tags.data | orderBy:tags.sort.column:tags.sort.desc track by tag.id" ng-class="tags.rowClass(tag.type)">
                        <td ng-switch="tag.type" align="center">
                            <i ng-switch-when="1" title="Tag" class="fa fa-tag"></i>
                            <i ng-switch-when="2" title="Artist" class="fa fa-paint-brush"></i>
                            <i ng-switch-when="3" title="Character" class="fa fa-female"></i>
                            <i ng-switch-when="4" title="Copyright" class="fa fa-copyright"></i>
                        </td>
                        <td>
                            <a ng-href="tag/{{tag.id}}/1" rel="nofollow" href ng-bind="tag.tag"></a> <i ng-if="tags.showModControls" class="fa fa-times" title="Delete Tag" ng-click="deletetag.deleteTag(tag.id)" ng-controller="DeleteTagCtrl as deletetag"></i>
                        </td>
                        <td align="center" ng-bind="tag.total"></td>
                    </tr>
                </tbody>
            </table>
            <div class="tags_bar">
                <pagination boundary-links="true" rotate="true" direction-links="false" page-name="tags" total-items="tags.pagination.totalItems" max-size="tags.pagination.maxSize" ng-model="tags.pagination.currentPage" items-per-page="tags.pagination.itemsPerPage" num-pages="tags.pagination.numPages">
            </div>
        </div>
    </div>
</div>
