<div class="postbox" ng-controller="ThreadFormCtrl as postform">
    <div class="postbox_box">
        <div class="postbox_form">
            <form role="form" action="{{postform.getFormAction('/post/thread/reply')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="askey" ng-value="thread.as_key" />
                <input type="hidden" name="thread" ng-value="thread.data.id" />
                <input ng-if="authState.isAuthenticated" type="hidden" name="access_token" ng-value="postform.token" />
                <div class="form-group">
                    <span ng-bind="::authState.name" class="form-control" ng-class="thread.usergroupClass(authState.group)"></span>
                </div>
                <div class="form-group">
                    <textarea id="comment" name="comment" ng-model="thread.quote" class="form-control" rows="3" ng-maxlength="1000" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                    <input id="file" type="file" name="file">
                </div>
                <div class="form-group">
                    <button class="button button-block button-primary" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="postbox_pagination">
            <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{::thread.data.id}}" total-items="thread.pagination.totalItems" max-size="thread.pagination.maxSize" ng-model="thread.pagination.currentPage" items-per-page="thread.pagination.itemsPerPage" num-pages="thread.pagination.numPages">
        </div>
    </div>
</div>
<div class="threads">
    <div class="thread">
        <div class="thread_header">
            <div class="thread_title">
                <span ng-bind="::thread.data.title"></span>
                <i ng-if="thread.data.closed" title="Closed" class="fa fa-lock"></i>
                <i ng-if="thread.data.sticky" title="Sticky" class="fa fa-thumb-tack"></i>
            </div>
            <div class="thread_buttons">
                <div ng-if="authState.isAuthenticated && authState.group >= 3" class="thread_mod_buttons" ng-controller="ThreadModCtrl as threadmod">
                    <a ng-if="authState.isAuthenticated && authState.group == 4" title="Delete" class="button button-danger fa fa-trash-o" ng-click="threadmod.deleteThread(thread.data.id)" href></a>
                    <a ng-if="!thread.data.sticky" title="Sticky" class="button button-default fa fa-thumb-tack" ng-click="threadmod.stickyThread(thread.data.id)" href></a>
                    <a ng-if="thread.data.sticky" title="Unsticky" class="button button-success fa fa-thumb-tack" ng-click="threadmod.stickyThread(thread.data.id)" href></a>
                    <a ng-if="!thread.data.closed" title="Close" class="button button-default fa fa-unlock-alt" ng-click="threadmod.closeThread(thread.data.id)" href></a>
                    <a ng-if="thread.data.closed" title="Open" class="button button-success fa fa-lock" ng-click="threadmod.closeThread(thread.data.id)" href></a>
                </div>
                <div class="button-group">
                    <a class="button button-default fa fa-align-justify" ng-class="{active: thread.layout == 'list'}" ng-click="thread.layout = 'list'"></a>
                    <a class="button button-default fa fa-th" ng-class="{active: thread.layout == 'grid'}" ng-click="thread.layout = 'grid'"></a>
                </div>
            </div>
        </div>
        <div ng-show="thread.layout == 'list'" ng-repeat="post in thread.data.posts track by post.id" id="reply-{{::post.num}}" class="thread_row">
            <div class="thread_row_image" ng-if="!!post.thumbnail">
                <a ng-href="image/{{::post.img_id}}" href><img ng-src="{{::thread.thumb(post.thumbnail)}}" height="{{::post.tn_height}}" width="{{::post.tn_width}}"> </a>
            </div>
            <div class="thread_row_info" ng-class="{ 'thread_row_noimage': !post.thumbnail }">
                <span class="post_info" ng-class="thread.usergroupClass(post.group)" ng-bind="::post.name"></span>
                <span class="post_info" ng-bind="::post.time"></span>
                <a class="label label-light" ng-bind="'#'+{{::post.num}}" ng-click="thread.replyQuote(post.num)" href></a>
                <div class="post_mod_buttons" ng-controller="PostModCtrl as postmod">
                    <a ng-if="authState.isAuthenticated && authState.group == 4" title="Delete" class="button button-danger button-small fa fa-trash-o" ng-click="postmod.deletePost(thread.data.id, post.num)" href></a>
                </div>
            </div>
            <div comment-handler post="post" thread="thread.data.id"></div>
        </div>
        <div ng-if="thread.layout == 'grid'" class="image_grid">
            <a ng-repeat="post in thread.data.posts track by post.id" ng-if="!!post.thumbnail" ng-href="image/{{::post.img_id}}" href>
                <img ng-src="{{::thread.thumb(post.thumbnail)}}" height="{{::post.tn_height}}" width="{{::post.tn_width}}">
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_box">
        <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{::thread.data.id}}" total-items="thread.pagination.totalItems" max-size="thread.pagination.maxSize" ng-model="thread.pagination.currentPage" items-per-page="thread.pagination.itemsPerPage" num-pages="thread.pagination.numPages">
    </div>
</div>
