<div class="postbox">
    <div class="postbox_box">
        <div class="postbox_form">
            <ng-include src="'pages/forms/thread.html'"></ng-include>
        </div>
        <div class="postbox_pagination">
            <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{thread.data.id}}" total-items="thread.pagination.totalItems" max-size="thread.pagination.maxSize" ng-model="thread.pagination.currentPage" items-per-page="thread.pagination.itemsPerPage" num-pages="thread.pagination.numPages">
        </div>
    </div>
</div>
<div class="threads">
    <div class="thread">
        <div class="thread_header">
            <div class="thread_title">
                <span ng-bind="thread.data.title"></span>
            </div>
            <div class="thread_buttons">
                <div ng-if="thread.showModControls()" class="thread_mod_buttons" ng-controller="ThreadModCtrl as threadmod">
                    <a title="Delete" class="button button-danger fa fa-trash-o" ng-click="threadmod.deleteThread(thread.data.id)" href></a>
                    <a ng-if="!thread.data.closed" title="Close" class="button button-default fa fa-unlock-alt" ng-click="threadmod.closeThread(thread.data.id)" href></a>
                    <a ng-if="thread.data.closed" title="Open" class="button button-success fa fa-lock" ng-click="threadmod.closeThread(thread.data.id)" href></a>
                    <a ng-if="!thread.data.sticky" title="Sticky" class="button button-default fa fa-thumb-tack" ng-click="threadmod.stickyThread(thread.data.id)" href></a>
                    <a ng-if="thread.data.sticky" title="Unsticky" class="button button-success fa fa-thumb-tack" ng-click="threadmod.stickyThread(thread.data.id)" href></a>
                </div>
                <div ng-if="thread.data.closed" title="Closed" class="thread_info fa fa-lock">
                </div>
                <div ng-if="thread.data.sticky" title="Sticky" class="thread_info fa fa-thumb-tack">
                </div>
                <div class="button-group">
                    <a class="button button-thread fa fa-align-justify" title="Post view" ng-class="{active: thread.layout == 'list'}" ng-click="thread.layout = 'list'"></a>
                    <a class="button button-thread fa fa-th" title="Image view" ng-class="{active: thread.layout == 'grid'}" ng-click="thread.layout = 'grid'"></a>
                </div>
            </div>
        </div>
        <div ng-show="thread.layout == 'list'" ng-repeat="post in ::thread.data.posts track by post.id" id="reply-{{post.num}}" class="thread_row">
            <div class="thread_row_image" ng-if="!!post.thumbnail">
                <a ng-href="image/{{post.img_id}}" href><img ng-src="{{thread.getThumbSrc(post.thumbnail, post.filename)}}" height="{{post.tn_height}}" width="{{post.tn_width}}">
                </a>
            </div>
            <div class="thread_content" ng-class="{ 'noimage': !post.thumbnail }">
                <div class="thread_row_info">
                    <div class="items">
                        <div ng-if="post.group != 1" class="info_item">
                            <div class="avatar avatar-xsmall">
                                <div class="avatar-inner">
                                    <img ng-src="{{thread.getAvatar(post.uid)}}" />
                                </div>
                            </div>
                        </div>
                        <div class="info_item">
                            <span ng-class="thread.usergroupClass(post.group)" ng-bind="post.name"></span>
                        </div>
                        <div class="info_item">
                            <span ng-bind="post.time | date:'short'"></span>
                        </div>
                        <div class="info_item">
                            <a class="label label-light" ng-bind="'#'+{{post.num}}" ng-click="thread.replyQuote(post.num)" href></a>
                        </div>
                        <div ng-if="thread.showModControls()" class="post_mod_buttons" ng-controller="PostModCtrl as postmod">
                            <a title="Delete" class="button button-danger button-small fa fa-trash-o" ng-click="postmod.deletePost(thread.data.id, post.num)" href></a>
                        </div>
                    </div>
                </div>
                <comment-handler post="post" thread="thread.data.id"></comment-handler>
            </div>
        </div>
        <div ng-if="thread.layout == 'grid'" class="image_grid">
            <a ng-repeat="post in ::thread.data.posts track by post.id" ng-if="!!post.thumbnail" ng-href="image/{{post.img_id}}" href>
                <img ng-src="{{thread.getThumbSrc(post.thumbnail, post.filename)}}" height="{{post.tn_height}}" width="{{post.tn_width}}">
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_box">
        <pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{thread.data.id}}" total-items="thread.pagination.totalItems" max-size="thread.pagination.maxSize" ng-model="thread.pagination.currentPage" items-per-page="thread.pagination.itemsPerPage" num-pages="thread.pagination.numPages">
    </div>
</div>
