<div class="account">
    <div class="account_row">
        <div class="account_subcontainer left">
            <form role="form" name="loginform" ng-submit="login.logIn()" ng-controller="LoginCtrl as login">
                <div class="form-group">
                    <span class="account_title">Login</span>
                </div>
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Name" ng-required="true" ng-model="login.form.name">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Password" ng-required="true" ng-model="login.form.password">
                </div>
                <div class="form-group">
                    <button ng-disabled="loginform.$invalid" class="button button-primary button-block" type="submit" value="Submit">Login</button>
                </div>
            </form>
        </div>
        <div class="account_subcontainer right">
            <form role="form" name="registerform" ng-submit="register.newUser()" ng-controller="RegisterCtrl as register">
                <div class="form-group">
                    <span class="account_title">Register</span>
                </div>
                <div class="form-group">
                    <input type="text" id="name" ng-minlength="3" ng-maxlength="20" class="form-control" placeholder="Name" ng-required="true" ng-model="register.form.name">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Password" ng-minlength="5" ng-required="true" ng-model="register.form.password">
                </div>
                <div class="form-group">
                    <input type="password" id="checkpassword" class="form-control" placeholder="Password (retype)" ng-minlength="5" ng-required="true" ng-model="register.form.check_password" validation-error="register.form.check_password != register.form.password ? 'Passwords don\'t match' : ''">
                </div>
                <div class="form-group">
                    <input type="text" id="email" class="form-control" placeholder="Email (optional)" ng-model="register.form.email">
                </div>
                <div class="form-group">
                    <button ng-disabled="registerform.$invalid" class="button button-success button-block" type="submit" value="Submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
