<div class="account_header">
    <div class="user_info">
        <div ng-if="account.whoami.avatar" class="user_avatar">
            <div class="avatar avatar-medium">
                <div class="avatar-inner">
                    <img ng-src="{{account.whoami.avatar}}" />
                </div>
            </div>
        </div>
        <div class="user_name">
            <span ng-bind="::account.whoami.name"></span>
        </div>
    </div>
    <div class="logout">
        <a class="button button-default" ng-click="account.logOut()" href>Sign out</a>
    </div>
</div>
