<div class="color-control" ng-style="{background:draw.selected_color}" click-off="paletteClose" ng-click="paletteToggle()">
    <div class="color-palette" ng-if="paletteVisible">
        <div class="color-bar">
            <div class="size-option" ng-click="setSize('1')">
                <span ng-style="{background:draw.selected_color}" style="width:2px;height:2px;border-radius:2px;"></span>
            </div>
            <div class="color-option" ng-click="setColor('#FFFFFF')" style="background: #FFFFFF"></div>
            <div class="color-option" ng-click="setColor('#F0F0F0')" style="background: #F0F0F0"></div>
            <div class="color-option" ng-click="setColor('#C8C8C8')" style="background: #C8C8C8"></div>
            <div class="color-option" ng-click="setColor('#B4B4B4')" style="background: #B4B4B4"></div>
            <div class="color-option" ng-click="setColor('#A0A0A0')" style="background: #A0A0A0"></div>
            <div class="color-option" ng-click="setColor('#8A8A8A')" style="background: #8A8A8A"></div>
            <div class="color-option" ng-click="setColor('#757575')" style="background: #757575"></div>
            <div class="color-option" ng-click="setColor('#606060')" style="background: #606060"></div>
            <div class="color-option" ng-click="setColor('#4B4B4B')" style="background: #4B4B4B"></div>
            <div class="color-option" ng-click="setColor('#363636')" style="background: #363636"></div>
            <div class="color-option" ng-click="setColor('#2A2A2A')" style="background: #2A2A2A"></div>
            <div class="color-option" ng-click="setColor('#000000')" style="background: #000000"></div>
        </div>
        <div class="color-bar">
            <div class="size-option" ng-click="setSize('2')">
                <span ng-style="{background:draw.selected_color}" style="width:4px;height:4px;border-radius:4px;"></span>
            </div>
            <div class="color-option" ng-click="setColor('#FF7FFE')" style="background: #FF7FFE"></div>
            <div class="color-option" ng-click="setColor('#FF7FBF')" style="background: #FF7FBF"></div>
            <div class="color-option" ng-click="setColor('#FF7F7F')" style="background: #FF7F7F"></div>
            <div class="color-option" ng-click="setColor('#FFBF7F')" style="background: #FFBF7F"></div>
            <div class="color-option" ng-click="setColor('#FEFF7F')" style="background: #FEFF7F"></div>
            <div class="color-option" ng-click="setColor('#BFFF7F')" style="background: #BFFF7F"></div>
            <div class="color-option" ng-click="setColor('#7FFF7F')" style="background: #7FFF7F"></div>
            <div class="color-option" ng-click="setColor('#7FFFBF')" style="background: #7FFFBF"></div>
            <div class="color-option" ng-click="setColor('#7FFEFF')" style="background: #7FFEFF"></div>
            <div class="color-option" ng-click="setColor('#7FBFFF')" style="background: #7FBFFF"></div>
            <div class="color-option" ng-click="setColor('#7F7FFF')" style="background: #7F7FFF"></div>
            <div class="color-option" ng-click="setColor('#BF7FFF')" style="background: #BF7FFF"></div>
        </div>
        <div class="color-bar">
            <div class="size-option" ng-click="setSize('3')">
                <span ng-style="{background:draw.selected_color}" style="width:6px;height:6px;border-radius:6px;"></span>
            </div>
            <div class="color-option" ng-click="setColor('#FF00FE')" style="background: #FF00FE"></div>
            <div class="color-option" ng-click="setColor('#FF007F')" style="background: #FF007F"></div>
            <div class="color-option" ng-click="setColor('#FF0000')" style="background: #FF0000"></div>
            <div class="color-option" ng-click="setColor('#FF7F00')" style="background: #FF7F00"></div>
            <div class="color-option" ng-click="setColor('#FEFF00')" style="background: #FEFF00"></div>
            <div class="color-option" ng-click="setColor('#7FFF00')" style="background: #7FFF00"></div>
            <div class="color-option" ng-click="setColor('#00FF00')" style="background: #00FF00"></div>
            <div class="color-option" ng-click="setColor('#00FF7F')" style="background: #00FF7F"></div>
            <div class="color-option" ng-click="setColor('#00FEFF')" style="background: #00FEFF"></div>
            <div class="color-option" ng-click="setColor('#007FFF')" style="background: #007FFF"></div>
            <div class="color-option" ng-click="setColor('#0000FF')" style="background: #0000FF"></div>
            <div class="color-option" ng-click="setColor('#7F00FF')" style="background: #7F00FF"></div>
        </div>
        <div class="color-bar">
            <div class="size-option" ng-click="setSize('4')">
                <span ng-style="{background:draw.selected_color}" style="width:8px;height:8px;border-radius:8px;"></span>
            </div>
            <div class="color-option" ng-click="setColor('#7F007F')" style="background: #7F007F"></div>
            <div class="color-option" ng-click="setColor('#7F003F')" style="background: #7F003F"></div>
            <div class="color-option" ng-click="setColor('#7F0000')" style="background: #7F0000"></div>
            <div class="color-option" ng-click="setColor('#7F3F00')" style="background: #7F3F00"></div>
            <div class="color-option" ng-click="setColor('#7F7F00')" style="background: #7F7F00"></div>
            <div class="color-option" ng-click="setColor('#3F7F00')" style="background: #3F7F00"></div>
            <div class="color-option" ng-click="setColor('#007F00')" style="background: #007F00"></div>
            <div class="color-option" ng-click="setColor('#007F3F')" style="background: #007F3F"></div>
            <div class="color-option" ng-click="setColor('#007F7F')" style="background: #007F7F"></div>
            <div class="color-option" ng-click="setColor('#003F7F')" style="background: #003F7F"></div>
            <div class="color-option" ng-click="setColor('#00007F')" style="background: #00007F"></div>
            <div class="color-option" ng-click="setColor('#3F007F')" style="background: #3F007F"></div>
        </div>
    </div>
</div>
