/* prim base style */
/* variables */
/* tag colors */
/* widths */
/* mixins */
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 93.75%;
  line-height: 1.2em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.2em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.6em;
  margin-bottom: 0.6em; }

h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-bottom: 0.8em; }

h3 {
  font-size: 1.17em;
  line-height: 2.05128em;
  margin-top: 1.02564em;
  margin-bottom: 1.02564em; }

h4 {
  font-size: 1em;
  line-height: 2.4em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

h5 {
  font-size: 0.83em;
  line-height: 1.44578em;
  margin-top: 1.44578em;
  margin-bottom: 1.44578em; }

h6 {
  font-size: 0.67em;
  line-height: 1.79104em;
  margin-top: 1.79104em;
  margin-bottom: 1.79104em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.2em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.2em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.2em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.06667em;
  border-top-style: solid;
  padding-top: 0.35333em;
  border-bottom-width: 0.06667em;
  border-bottom-style: solid;
  padding-bottom: 0.71333em;
  border-left-width: 0.06667em;
  border-left-style: solid;
  padding-left: 0.68333em;
  border-right-width: 0.06667em;
  border-right-style: solid;
  padding-right: 0.68333em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* global css */
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-size: 1em;
  min-width: 20em;
  overflow-y: scroll; }

video {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
  height: auto; }

input[name="file"] {
  font-size: small;
  display: block; }

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
  white-space: pre-line;
  margin: 0; }
  p a {
    word-break: break-all; }

/* button css */
button {
  border: 0;
  margin: 0;
  padding: 0; }

.button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  text-decoration: none; }
  .button:hover, .button:focus, .button.focus {
    text-decoration: none; }
  .button:active, .button.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button[disabled], fieldset[disabled] .button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none; }

.button-small {
  padding: 2px 6px; }

.button-block {
  display: block;
  width: 100%; }

/* button groups */
.button-group,
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.button-group > .button,
.button-group-vertical > .button {
  position: relative;
  float: left; }

.button-group > .button:hover,
.button-group-vertical > .button:hover,
.button-group > .button:focus,
.button-group-vertical > .button:focus,
.button-group > .button:active,
.button-group-vertical > .button:active,
.button-group > .button.active,
.button-group-vertical > .button.active {
  z-index: 2; }

.button-group > .button:focus,
.button-group-vertical > .button:focus {
  outline: 0; }

.button-group .button + .button,
.button-group .button + .button-group,
.button-group .button-group + .button,
.button-group .button-group + .button-group {
  margin-left: -1px; }

.button-toolbar {
  margin-left: -5px; }

.button-toolbar .button-group,
.button-toolbar .input-group {
  float: left; }

.button-toolbar > .button,
.button-toolbar > .button-group,
.button-toolbar > .input-group {
  margin-left: 5px; }

.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.button-group > .button:first-child {
  margin-left: 0; }

.button-group > .button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.button-group > .button-group {
  float: left; }

.button-group > .button-group:not(:first-child):not(:last-child) > .button {
  border-radius: 0; }

.button-group > .button-group:first-child > .button:last-child,
.button-group > .button-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.button-group > .button-group:last-child > .button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
  outline: 0; }

.button-group > .button + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px; }

.button-group > .button-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px; }

.button-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.button-group.open .dropdown-toggle.button-link {
  -webkit-box-shadow: none;
  box-shadow: none; }

.button .caret {
  margin-left: 0; }

.button-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0; }

.dropup .button-lg .caret {
  border-width: 0 5px 5px; }

.button-group-vertical > .button,
.button-group-vertical > .button-group,
.button-group-vertical > .button-group > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%; }

.button-group-vertical > .button-group > .button {
  float: none; }

.button-group-vertical > .button + .button,
.button-group-vertical > .button + .button-group,
.button-group-vertical > .button-group + .button,
.button-group-vertical > .button-group + .button-group {
  margin-top: -1px;
  margin-left: 0; }

.button-group-vertical > .button:not(:first-child):not(:last-child) {
  border-radius: 0; }

.button-group-vertical > .button:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.button-group-vertical > .button:last-child:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.button-group-vertical > .button-group:not(:first-child):not(:last-child) > .button {
  border-radius: 0; }

.button-group-vertical > .button-group:first-child:not(:last-child) > .button:last-child,
.button-group-vertical > .button-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.button-group-vertical > .button-group:last-child:not(:first-child) > .button:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }

.button-group-justified > .button,
.button-group-justified > .button-group {
  float: none;
  display: table-cell;
  width: 1%; }

.button-group-justified > .button-group .button {
  width: 100%; }

.button-group-justified > .button-group .dropdown-menu {
  left: auto; }

/* tags css */
.tag {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 0.9em;
  line-height: 1.42857143;
  overflow: hidden;
  text-decoration: none;
  border-radius: 3px;
  margin: 0.2em 0; }
  .tag:hover, .tag:focus, .tag.focus {
    text-decoration: none; }
  .tag:active, .tag.active {
    outline: 0;
    margin: 0;
    background-image: none;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); }
  .tag.disabled, .tag[disabled], fieldset[disabled] .tag {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none; }
  @media screen and (min-width: 50em) {
    .tag {
      margin: 0;
      border-radius: 0;
      width: 100%; } }

/* label css */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.label {
  display: inline;
  padding: .1em .5em;
  font-size: 75%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  margin: 0; }

a.label:hover,
a.label:focus {
  text-decoration: none;
  cursor: pointer; }

.label:empty {
  display: none; }

/* pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  margin: 0; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 0.5em 0.8em;
  line-height: 1.5em;
  border: 0;
  margin-left: -1px; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  cursor: default; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed; }

/* forms */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-control.userinfo img {
    vertical-align: middle; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1; }

textarea.form-control {
  height: auto;
  resize: none; }

.form-group:not(:last-child) {
  margin-bottom: 1em; }

@media screen and (min-width: 50em) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }

  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto; }

  .form-inline .input-group > .form-control {
    width: 100%; }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0; }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }
/* dropdown css */
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

/* hoverbox */
.angular-hovercard {
  display: inline-block;
  margin-bottom: 5px; }

.angular-hovercard-detail {
  box-shadow: 0 2px 3px #ccc;
  position: absolute;
  border-radius: 3px;
  min-width: 20%;
  max-width: 60%;
  z-index: 99;
  overflow: hidden; }
  .angular-hovercard-detail.ng-enter, .angular-hovercard-detail.ng-leave {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }
  .angular-hovercard-detail.ng-enter, .angular-hovercard-detail.ng-leave.ng-leave-active {
    opacity: 0; }
  .angular-hovercard-detail.ng-leave, .angular-hovercard-detail.ng-enter.ng-enter-active {
    opacity: 1; }
  @media screen and (min-width: 50em) {
    .angular-hovercard-detail {
      min-width: 20%;
      max-width: 40%; } }

.angular-hovercard-label {
  padding: 1px;
  position: relative; }

.quotebox {
  background: #eee;
  text-align: center;
  padding: 0.5em; }
  .quotebox .external_image, .quotebox .quotebox_image {
    max-width: 120px;
    height: auto; }
  .quotebox .avatar {
    margin-right: 0.3em; }

.quotebox_comment p {
  text-align: center; }

.quotebox_error {
  text-align: center;
  padding: 0.5em; }

/* header css */
.header_bar {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .header_bar:before, .header_bar:after {
    content: " ";
    display: table; }
  .header_bar:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .header_bar {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .header_bar {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .header_bar {
      width: 78em; } }
  .header_bar .left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2; }
  .header_bar .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 1; }
  @media screen and (min-width: 50em) {
    .header_bar {
      flex-direction: row; }
      .header_bar .left {
        order: 1;
        width: auto; }
      .header_bar .right {
        order: 2;
        width: auto;
        margin-left: auto; } }

/* nav items */
.nav_items {
  order: 2;
  margin-left: auto; }
  .nav_items ul {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav_items ul li {
      list-style-type: none;
      display: inline-block; }
      .nav_items ul li a {
        list-style-type: none;
        display: block;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5em; }

/* nav menu */
.nav_menu {
  order: 1; }
  .nav_menu ul {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav_menu ul li {
      list-style-type: none;
      display: inline-block;
      border-radius: 3px; }
      .nav_menu ul li a {
        display: block;
        font-size: 1em;
        padding: 0.5em; }

/* user menu */
.user_menu {
  order: 1;
  margin-right: auto; }
  @media screen and (min-width: 50em) {
    .user_menu {
      margin-right: 1em; } }
  .user_menu ul {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
    .user_menu ul li {
      list-style-type: none;
      display: inline-block; }
    @media screen and (min-width: 50em) {
      .user_menu ul ul {
        left: auto;
        right: -50%; } }

/* popup */
.nav_menu ul ul,
.user_menu ul ul {
  text-align: left;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  display: block;
  z-index: 900;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); }
  .nav_menu ul ul.ng-enter, .nav_menu ul ul.ng-leave,
  .user_menu ul ul.ng-enter,
  .user_menu ul ul.ng-leave {
    transition: all ease 0.2s; }
  .nav_menu ul ul.ng-enter, .nav_menu ul ul.ng-leave.ng-leave-active,
  .user_menu ul ul.ng-enter,
  .user_menu ul ul.ng-leave.ng-leave-active {
    opacity: 0;
    top: 50px; }
  .nav_menu ul ul.ng-leave, .nav_menu ul ul.ng-enter.ng-enter-active,
  .user_menu ul ul.ng-leave,
  .user_menu ul ul.ng-enter.ng-enter-active {
    opacity: 1;
    top: 100%; }
  .nav_menu ul ul li,
  .user_menu ul ul li {
    list-style-type: none;
    display: list-item; }
    .nav_menu ul ul li i,
    .user_menu ul ul li i {
      display: inline;
      margin-right: 0.5em;
      font-size: 0.9em; }
    .nav_menu ul ul li a,
    .user_menu ul ul li a {
      display: block;
      padding: 0.3em 1.5em;
      font-size: 1.1em; }
  .nav_menu ul ul .username,
  .user_menu ul ul .username {
    width: 100%;
    text-align: center;
    padding: 0.3em 0;
    cursor: pointer; }
  .nav_menu ul ul .divider,
  .user_menu ul ul .divider {
    padding-top: 1px;
    margin: 5px 1px 6px;
    border-bottom: 1px solid #DADADA; }
  .nav_menu ul ul .divider:hover,
  .user_menu ul ul .divider:hover {
    background: transparent; }

/* logo */
.site_logo {
  order: 2; }
  .site_logo img {
    display: inline-block;
    max-width: 10em;
    height: auto;
    max-height: 2em; }

/* header css */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0; }

.footer_box {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1em; }
  .footer_box:before, .footer_box:after {
    content: " ";
    display: table; }
  .footer_box:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .footer_box {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .footer_box {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .footer_box {
      width: 78em; } }

/* footer links */
.footer_links {
  width: 100%;
  text-align: center;
  order: 2;
  position: relative;
  top: 1em; }
  @media screen and (min-width: 50em) {
    .footer_links {
      text-align: left;
      order: 1; } }

.footer_links ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 auto; }

.footer_links li {
  display: inline;
  list-style-type: none; }

.footer_links li a {
  padding: 0.5em;
  font-size: 1em;
  display: inline-block;
  text-decoration: none; }

.footer_links li a:hover {
  border-radius: 3px; }

/* postbox css */
.postbox {
  margin-top: -2em; }

.postbox_box {
  box-shadow: 0 2px 3px #ccc;
  width: 90%;
  position: relative;
  top: 2em;
  margin: 0 auto;
  border-radius: 6px;
  min-height: 17em;
  padding: 1em 1em 0 1em; }
  .postbox_box:before, .postbox_box:after {
    content: " ";
    display: table; }
  .postbox_box:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .postbox_box {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .postbox_box {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .postbox_box {
      width: 78em; } }

.postbox_form {
  padding-bottom: 0.5em; }
  @media screen and (min-width: 50em) {
    .postbox_form {
      float: right;
      width: 18em; } }
  @media screen and (min-width: 65em) {
    .postbox_form {
      width: 20em; } }

.postbox_pagination {
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
  float: left; }

/* image page css */
.image {
  padding: 1em 0; }

.image_container {
  width: 90%;
  margin: 0 auto; }
  .image_container:before, .image_container:after {
    content: " ";
    display: table; }
  .image_container:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .image_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .image_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .image_container {
      width: 78em; } }

.image_info {
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
  padding: 0.5em; }
  .image_info .no_tags {
    padding: 0.5em; }
  .image_info button {
    border-radius: 0; }
  .image_info .tags {
    display: inline-block;
    margin: 0.2em; }
    @media screen and (min-width: 50em) {
      .image_info .tags {
        margin: 0;
        width: 100%;
        display: table; } }
  .image_info .tag_button {
    display: inline-block; }
    @media screen and (min-width: 50em) {
      .image_info .tag_button {
        width: 100%;
        display: table-cell; } }
  .image_info .mod_button {
    display: inline-block;
    padding: 0 0.5em; }
    @media screen and (min-width: 50em) {
      .image_info .mod_button {
        display: table-cell; } }
  .image_info .delete_button {
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 50em) {
    .image_info {
      padding: 0;
      float: left;
      margin: 0;
      margin-left: 6px;
      width: calc(25% - 6px); }
      .image_info input {
        border-radius: 0; }
      .image_info .source_links {
        padding: 1em 0; } }
  @media screen and (min-width: 65em) {
    .image_info {
      width: calc(20% - 6px); } }

.image_box {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1em; }
  @media screen and (min-width: 50em) {
    .image_box {
      text-align: left;
      float: left;
      width: 75%; } }
  @media screen and (min-width: 65em) {
    .image_box {
      width: 80%; } }

.image_box_nav {
  text-align: center; }

.image_controls {
  padding: 0.5em; }

.image_box_image video {
  max-width: 100%;
  max-height: 80%;
  height: auto;
  display: block;
  margin: 0 auto; }
.image_box_image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

/* image grid */
.image_grid {
  line-height: 0;
  column-count: 3;
  column-gap: 0; }
  @media screen and (min-width: 50em) {
    .image_grid {
      column-count: 4; } }
  @media screen and (min-width: 65em) {
    .image_grid {
      column-count: 5; } }
  @media screen and (min-width: 80em) {
    .image_grid {
      column-count: 6; } }
  .image_grid img {
    width: 100%;
    height: auto;
    border: 0;
    max-height: 400px;
    display: block; }
  .image_grid img:hover {
    opacity: 0.6;
    border: 0; }

/* thread css */
.threads {
  padding-top: 4em;
  padding-bottom: 5em; }

.thread {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em; }
  @media screen and (min-width: 50em) {
    .thread {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .thread {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .thread {
      width: 78em; } }

/* thread header */
.thread_header {
  padding: 1em; }
  .thread_header:before, .thread_header:after {
    content: " ";
    display: table; }
  .thread_header:after {
    clear: both; }
  .thread_header .thread_mod_buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.5em; }
    .thread_header .thread_mod_buttons a {
      margin-right: 0.3em; }
    @media screen and (min-width: 50em) {
      .thread_header .thread_mod_buttons {
        float: right;
        margin: 0; } }

.thread_index_header {
  padding: 1em; }
  .thread_index_header:before, .thread_index_header:after {
    content: " ";
    display: table; }
  .thread_index_header:after {
    clear: both; }

.thread_title {
  padding: 0.6em;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em; }
  @media screen and (min-width: 50em) {
    .thread_title {
      text-align: left; } }
  @media screen and (min-width: 50em) {
    .thread_title {
      padding: 0.2em;
      float: left;
      max-width: 50%; } }

.thread_buttons {
  text-align: center;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 50em) {
    .thread_buttons {
      float: right; } }

.thread_info {
  display: inline-block;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  margin-right: 0.2em; }
  .thread_info .col {
    display: inline-block;
    padding: 0 0.1em; }

/* thread rows */
.thread_row:before, .thread_row:after,
.index_row:before,
.index_row:after {
  content: " ";
  display: table; }
.thread_row:after,
.index_row:after {
  clear: both; }

.index_row .auto-resizable-iframe {
  max-width: 300px;
  height: auto; }

.thread_row_header:before, .thread_row_header:after {
  content: " ";
  display: table; }
.thread_row_header:after {
  clear: both; }

.thread_row_image,
.index_row_image {
  text-align: center;
  padding: 1em 1em 0em 1em; }
  @media screen and (min-width: 50em) {
    .thread_row_image,
    .index_row_image {
      padding: 1em;
      float: left;
      width: 25%; } }

.thread_row_image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #444; }

.index_row_image img {
  max-width: 120px;
  height: auto;
  border: 1px solid #444; }

.thread_row_image img:hover {
  opacity: 0.6; }

.thread_content {
  width: 100%;
  text-align: center;
  display: table;
  padding: 0.8em; }
  @media screen and (min-width: 50em) {
    .thread_content {
      text-align: left;
      float: left;
      width: 75%; } }
  .thread_content.noimage {
    width: 100%; }

.thread_row_info {
  width: 100%; }
  .thread_row_info .items .info_item {
    display: inline-block;
    padding-right: 0.3em; }
  .thread_row_info .post_mod_buttons {
    display: inline-block;
    padding-left: 0.5em; }
    @media screen and (min-width: 50em) {
      .thread_row_info .post_mod_buttons {
        float: right;
        padding: 0; } }

.thread_row_post {
  width: 100%;
  padding-top: 0.5em;
  text-align: left; }

.thread_comment p {
  text-align: left; }

.thread_row_omit {
  text-align: center;
  padding-bottom: 0.5em;
  font-weight: bold; }

.post_quote {
  margin-right: 1px; }

/* directory and tag list css */
.taglist,
.directory {
  padding: 1em 0; }

.taglist_container,
.directory_container {
  width: 90%;
  margin: 0 auto; }
  .taglist_container:before, .taglist_container:after,
  .directory_container:before,
  .directory_container:after {
    content: " ";
    display: table; }
  .taglist_container:after,
  .directory_container:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .taglist_container,
    .directory_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .taglist_container,
    .directory_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .taglist_container,
    .directory_container {
      width: 78em; } }

.directory_container .no_threads,
.taglist_container .no_threads {
  padding: 1em;
  text-align: center; }

.tags_list,
.directory_list {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden; }
  .tags_list table,
  .directory_list table {
    width: 100%; }
  .tags_list table td, .tags_list table th,
  .directory_list table td,
  .directory_list table th {
    padding: 0.3em 0.5em; }

.tags_list {
  padding: 0; }

.lastpage {
  border: 1px solid #333;
  float: right; }

.tags_bar,
.directory_bar {
  text-align: center;
  padding: 0.5em; }
  .tags_bar:before, .tags_bar:after,
  .directory_bar:before,
  .directory_bar:after {
    content: " ";
    display: table; }
  .tags_bar:after,
  .directory_bar:after {
    clear: both; }
  .tags_bar .tags_input,
  .directory_bar .tags_input {
    margin-bottom: 0.5em; }
    .tags_bar .tags_input .form-group,
    .directory_bar .tags_input .form-group {
      margin-bottom: 0.2em; }
    @media screen and (min-width: 50em) {
      .tags_bar .tags_input,
      .directory_bar .tags_input {
        float: left;
        max-width: 50%; } }
  @media screen and (min-width: 50em) {
    .tags_bar .tags_search, .tags_bar .directory_search,
    .directory_bar .tags_search,
    .directory_bar .directory_search {
      margin: 0;
      float: right;
      max-width: 50%; } }

/* error css */
.error {
  padding: 1em 0; }

.error_container {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding: 1em; }
  .error_container:before, .error_container:after {
    content: " ";
    display: table; }
  .error_container:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .error_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .error_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .error_container {
      width: 78em; } }
  .error_container .error_code {
    text-align: center;
    font-size: 3em;
    padding: 0.5em; }
  .error_container .error_message {
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em; }

/* tag page css */
.tagpage {
  padding: 1em 0; }

.tagpage_container {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 50em) {
    .tagpage_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .tagpage_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .tagpage_container {
      width: 78em; } }
  .tagpage_container .no_tags {
    padding: 1em;
    text-align: center; }

.tagpage_header {
  padding: 1em; }
  .tagpage_header:before, .tagpage_header:after {
    content: " ";
    display: table; }
  .tagpage_header:after {
    clear: both; }
  .tagpage_header .tag_title {
    padding: 0.6em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em; }
    @media screen and (min-width: 50em) {
      .tagpage_header .tag_title {
        text-align: left; } }
    @media screen and (min-width: 50em) {
      .tagpage_header .tag_title {
        padding: 0.2em;
        float: left;
        max-width: 50%; } }
  .tagpage_header .tag_controls {
    text-align: center;
    display: block; }
    .tagpage_header .tag_controls .form-group {
      margin: 0; }
    @media screen and (min-width: 50em) {
      .tagpage_header .tag_controls {
        float: right; } }

.tagpage_nav {
  text-align: center;
  padding: 0.5em; }

/* trending css */
.trending {
  width: 90%;
  margin: 0 auto; }
  .trending:before, .trending:after {
    content: " ";
    display: table; }
  .trending:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .trending {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .trending {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .trending {
      width: 78em; } }

@media screen and (min-width: 50em) {
  .trending_col {
    margin: 0 0.5em;
    float: left;
    width: calc(50% - 1em); } }

.new_container,
.popular_container,
.favorited_container {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: 1em 0; }
  .new_container .image_grid,
  .popular_container .image_grid,
  .favorited_container .image_grid {
    background: transparent;
    column-count: 3; }
    @media screen and (min-width: 50em) {
      .new_container .image_grid,
      .popular_container .image_grid,
      .favorited_container .image_grid {
        column-count: 2; } }
    @media screen and (min-width: 65em) {
      .new_container .image_grid,
      .popular_container .image_grid,
      .favorited_container .image_grid {
        column-count: 3; } }
    @media screen and (min-width: 80em) {
      .new_container .image_grid,
      .popular_container .image_grid,
      .favorited_container .image_grid {
        column-count: 3; } }

.new_title,
.popular_title,
.favorited_title {
  padding: 0.6em;
  font-size: 1.5em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .new_title,
    .popular_title,
    .favorited_title {
      text-align: left; } }
  .new_title i,
  .popular_title i,
  .favorited_title i {
    margin-right: 0.3em; }

/* account css */
.account {
  padding: 1em 0; }

.account_header {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
  margin-bottom: 1em;
  display: table;
  height: 2em; }
  .account_header:before, .account_header:after {
    content: " ";
    display: table; }
  .account_header:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .account_header {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .account_header {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .account_header {
      width: 78em; } }
  .account_header .user_info {
    overflow: hidden; }
    .account_header .user_info .user_avatar, .account_header .user_info .user_name {
      display: table-cell;
      vertical-align: middle; }
    .account_header .user_info .user_avatar {
      padding: 0;
      border-radius: 3px;
      overflow: hidden; }
    .account_header .user_info .user_name {
      font-size: 1.5em;
      padding: 0;
      padding-left: 0.3em; }
    @media screen and (min-width: 50em) {
      .account_header .user_info {
        float: left;
        max-width: 60%; } }
  .account_header .logout {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }

.account_row {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding: 0; }
  .account_row:before, .account_row:after {
    content: " ";
    display: table; }
  .account_row:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .account_row {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .account_row {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .account_row {
      width: 78em; } }
  .account_row .account_subcontainer {
    box-shadow: 0 2px 3px #ccc;
    border-radius: 6px;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em; }
    .account_row .account_subcontainer .account_title {
      padding: 0.6em;
      font-size: 1.5em;
      text-align: center;
      padding: 0; }
      @media screen and (min-width: 50em) {
        .account_row .account_subcontainer .account_title {
          text-align: left; } }
    @media screen and (min-width: 50em) {
      .account_row .account_subcontainer {
        float: left; }
        .account_row .account_subcontainer.left {
          margin-right: 0.5em;
          width: calc(50% - 0.5em); }
        .account_row .account_subcontainer.right {
          margin-left: 0.5em;
          width: calc(50% - 0.5em); } }

/* favorites css */
.favorites {
  padding: 1em 0; }

.favorites_container {
  box-shadow: 0 2px 3px #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 50em) {
    .favorites_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .favorites_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .favorites_container {
      width: 78em; } }
  .favorites_container .no_favorites {
    padding: 1em;
    text-align: center; }

.favorites_title {
  padding: 0.6em;
  font-size: 1.5em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .favorites_title {
      text-align: left; } }

.favorites_nav {
  text-align: center;
  padding: 0.5em; }

/* scroll to top button css */
.scrollToTop {
  transition: opacity 0.5s;
  position: fixed;
  top: 3px;
  right: 3px;
  width: 45px;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  z-index: 99; }
  .scrollToTop.toTopActive {
    opacity: 0.5;
    visibility: visible; }

/* avatar css */
.avatar {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden; }
  .avatar img {
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%; }

.avatar-inner {
  display: table-cell;
  vertical-align: middle; }

.avatar-xsmall,
.avatar-xsmall .avatar-inner {
  height: 18px;
  width: 18px; }

.avatar-small,
.avatar-small .avatar-inner {
  height: 24px;
  width: 24px; }

.avatar-medium,
.avatar-medium .avatar-inner {
  height: 32px;
  width: 32px; }

.avatar-large,
.avatar-large .avatar-inner {
  height: 48px;
  width: 48px; }

.avatar-xlarge,
.avatar-xlarge .avatar-inner {
  height: 64px;
  width: 64px; }

/* external image embed */
.external_image {
  max-width: 200px;
  max-height: 150px;
  height: auto;
  border: 1px solid #444;
  margin: 0.2em; }

/* video embed div */
.auto-resizable-iframe {
  max-width: 420px;
  padding: 0.5em; }

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px; }

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

/* settings box css */
.settings_container {
  box-shadow: 0 2px 3px #ccc;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .settings_container:before, .settings_container:after {
    content: " ";
    display: table; }
  .settings_container:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .settings_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .settings_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .settings_container {
      width: 78em; } }
  @media screen and (min-width: 50em) {
    .settings_container {
      flex-direction: row; } }

.settings_menu {
  order: 1;
  height: auto;
  text-align: center;
  padding: 1em; }
  .settings_menu .button-settings {
    width: 100%;
    margin-bottom: 0.3em; }
  @media screen and (min-width: 50em) {
    .settings_menu {
      padding: 0.5em;
      width: 20%; } }

.settings_box {
  order: 2;
  height: auto;
  padding: 0.5em; }
  @media screen and (min-width: 50em) {
    .settings_box {
      width: 80%; } }

.settings_subcontainer {
  width: 100%;
  margin: 1em auto;
  text-align: center;
  padding: 1em;
  border-radius: 3px; }
  .settings_subcontainer form {
    margin: auto; }
    @media screen and (min-width: 50em) {
      .settings_subcontainer form {
        max-width: 30em; } }
  .settings_subcontainer .settings_title {
    padding: 0.6em;
    font-size: 1.5em;
    text-align: center;
    padding: 0; }
    @media screen and (min-width: 50em) {
      .settings_subcontainer .settings_title {
        text-align: left; } }
  .settings_subcontainer .settings_info {
    text-align: left;
    font-size: 0.8em;
    padding: 0.5em; }
  @media screen and (min-width: 50em) {
    .settings_subcontainer {
      width: 80%; } }

/* tag page css */
.admin {
  padding: 1em 0; }

.admin_container .board_stats {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  overflow: hidden;
  padding: 1em;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 50em) {
    .admin_container .board_stats {
      width: 80%; } }
  .admin_container .board_stats .stats_title {
    margin-bottom: 0.5em; }
  .admin_container .board_stats .stats_chart {
    max-width: 40em;
    height: auto;
    margin: auto; }
  .admin_container .board_stats .stats_info {
    margin-top: 1em;
    display: table;
    width: 100%;
    table-layout: fixed; }
    .admin_container .board_stats .stats_info .info_box {
      display: table-cell;
      text-align: center; }
      .admin_container .board_stats .stats_info .info_box .stat {
        font-size: 2em;
        font-weight: 600; }
        @media screen and (min-width: 50em) {
          .admin_container .board_stats .stats_info .info_box .stat {
            font-size: 2.4em;
            font-weight: 600; } }
      .admin_container .board_stats .stats_info .info_box .label {
        font-size: 1em; }
        @media screen and (min-width: 50em) {
          .admin_container .board_stats .stats_info .info_box .label {
            font-size: 1.2em; } }

.spinner {
  position: fixed;
  bottom: 20px;
  left: 5px;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  animation-delay: -0.32s; }

.spinner .bounce2 {
  animation-delay: -0.16s; }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }
