<top-box></top-box>
<div class="container">

<div class="sixteen columns top">

<div class="eleven columns alpha">
&nbsp;
</div>

<div class="five columns omega postform">

<form role="form" action="/api/post/thread/reply" method="post" enctype="multipart/form-data">
<input type="hidden" name="askey" ng-value="as_key" />
<input type="hidden" name="thread" ng-value="thread.id" />
<div class="form-group">
<input type="text" id="name" name="name" class="form-control" ng-maxlength="20" placeholder="Anonymous">
</div>
  <div class="form-group">
<textarea id="comment" name="comment" ng-model="quote" class="form-control" rows="3" ng-maxlength="1000" placeholder="Comment"></textarea>
</div>
 <div class="form-group">
 <input id="file" type="file" name="file">
</div>
  <div class="form-group">
<button class="btn btn-primary btn-block" type="submit" value="Submit">Submit</button>
</div>
</form>

</div>

 <div class="sixteen columns pagenav">
<div class="btn-group">
<pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{thread.id}}" total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" num-pages="numPages">
</div>
</div>

</div>
</div>

 <div class="container thread">
<div class="sixteen columns clearfix header_body">
<div class="fourteen columns alpha thread_title">
<span ng-bind="::thread.title"></span>
<i ng-if="thread.closed" title="Closed" class="fa fa-lock"></i>
<i ng-if="thread.sticky" title="Sticky" class="fa fa-thumb-tack"></i>
</div>
<div class="two columns omega list_grid">
<div class="btn-group">
<a type="button" class="btn btn-default fa fa-align-justify" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
<a type="button" class="btn btn-default fa fa-th" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
</div>
</div>
</div>

<div ng-if="layout == 'list'" ng-repeat="post in thread.posts track by post.id" class="sixteen columns clearfix reply_body">
 <div class="five columns alpha reply_image" ng-if="post.thumbnail != null" >
<a ng-href="image/{{post.img_id}}" href><img class="reply_image scale-with-grid" ng-src="/thumb/{{post.thumbnail}}" height="{{post.tn_height}}" width="{{post.tn_width}}"> </a>
</div>
<div class="eleven columns omega clearfix reply_content">
 <div class="eleven columns alpha reply_info">

  <span class="postername" ng-bind="::post.name"></span>
<span class="replytitle" ng-bind="::post.time"></span>
        <span class="replytitle">#<a href ng-click="replyQuote(post.num)" id="reply{{post.num}}" ng-bind="::post.num"></a></span>
</div>
<div ng-if="post.comment" comment-handler post="post" thread="thread"></div>
</div>
</div>

<div class="sixteen columns tagpage" ng-if="layout == 'grid'" id="photos">
<a ng-if="post.thumbnail != null" ng-repeat="post in thread.posts track by post.id" ng-href="image/{{post.img_id}}" href>
<img class="reply_image scale-with-grid" ng-src="/thumb/{{post.thumbnail}}" height="{{post.tn_height}}" width="{{post.tn_width}}">
</a>
</div>

</div>
</div>

 <div class="container">
 <div class="sixteen columns footer">

<div class="btn-group">
<pagination all-link="true" boundary-links="true" rotate="true" direction-links="false" page-name="thread/{{thread.id}}" total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" num-pages="numPages">
</div>

</div>
</div>

