<form role="form" name="updatetagform" class="form-inline" ng-submit="update.updateTag()" ng-controller="UpdateTagCtrl as update">
    <div class="form-group">
        <select class="form-control" ng-init="update.selected=1" ng-options="tag.id as tag.type for tag in update.tagtypes" ng-model="update.selected"></select>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" maxlength="128" id="name" ng-minlength="3" ng-maxlength="128" placeholder="Update Tag" ng-required="true" ng-model="update.name">
    </div>
    <div class="form-group">
        <button ng-disabled="updatetagform.$invalid" class="form-control button button-primary" type="submit">Update</button>
    </div>
    <div class="form-group">
        <a class="form-control button button-danger" ng-click="deletetag.deleteTag(tag.data.id)" ng-controller="DeleteTagCtrl as deletetag" href>Delete</a>
    </div>
</form>
