<form role="form" name="replyform" action="{{postform.getFormAction('/post/thread/reply')}}" method="post" enctype="multipart/form-data" ng-controller="ThreadFormCtrl as postform">
    <input type="hidden" name="csrf_token" ng-value="thread.csrf_token" />
    <input type="hidden" name="thread" ng-value="thread.data.id" />
    <input ng-if="authState.isAuthenticated" type="hidden" name="access_token" ng-value="postform.getToken()" />
    <div class="form-group">
        <div class="form-control userinfo">
            <span ng-bind="authState.name" ng-class="thread.usergroupClass(authState.ibdata.group)"></span>
        </div>
    </div>
    <div class="form-group">
        <textarea id="comment" name="comment" ng-required="!file" ng-model="thread.quote" class="form-control" rows="3" ng-minlength="3" ng-maxlength="1000" placeholder="Comment"></textarea>
    </div>
    <div class="form-group">
        <div class="file-input">
            <input id="file" type="file" name="file" ng-model="file" validate-file ng-required="!thread.quote">
        </div>
        <div class="draw-button">
            <a ng-click="drawpad.toggle()" class="button button-success" href>Draw</button>
        </div>
    </div>
    <div class="form-group">
        <button ng-disabled="replyform.$invalid" class="button button-block button-primary" type="submit" value="Submit">Reply</button>
    </div>
</form>
